/* formatacao da area do conteudo */
.content {
    display: grid;
    grid-template-areas:
        "card"
        "info";
    grid-template-columns: 100%;
    grid-template-rows: 1.7fr 2fr;
}

/* espaço para o cartao de credito fisico */
.card-container {
    grid-area: card;
    align-content: center;
    justify-items: center;
    background: #26262650;
    backdrop-filter: blur(3px);
    border-radius: 15px;

    /* titulo da area */
    & .card-title {
        display: flex;
        padding: 0 5% 0 5%;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        /* botao de bloqueio de cartao */
        & button {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }

        & i {
            color: #F0EBE0;
            font-size: 1rem;
        }
    }

    /* cartao em si */
    & .card {
        position: relative;
        height: clamp(300px, 30vh, 300px);
        width: clamp(450px, 30vw, 450px);
        border-radius: 15px;
        background: url(/app/static/images/wave.jpg) center / cover no-repeat;
        box-shadow: 0 5px 15px rgb(0, 0, 0);
        transition: all 0.5s ease;

        /* logo do banco */
        & #logo {
            position: absolute;
            top: 10%;
            left: 3%;
            width: 50px;
            height: 50px;
            background: url(/app/static/images/logo.png) center / contain no-repeat;

        }

        /* informacoes presente no cartao */
        & #bank-name {
            position: absolute;
            top: 12%;
            left: 13%;
        }

        & #name {
            position: absolute;
            top: 80%;
            left: 5%;
        }

        & #card-number {
            position: absolute;
            top: 50%;
            left: 5%;
        }

        & #date {
            position: absolute;
            top: 65%;
            left: 5%;
        }

        & #cvc {
            position: absolute;
            top: 65%;
            left: 25%;
        }

        /* chip do cartao */
        &::before {
            content: "";
            position: absolute;
            top: 25%;
            right: 15%;
            height: 50px;
            width: 70px;
            border-radius: 10px;
            background: url(/app/static/images/card-chip.jpg) center / cover no-repeat;
        }

    }

    /* diminui o tamanho do cartao em telas menores */
    @media (max-width: 678px) {
        & .card {
            transform: scale(0.8);
        }

    }
}

/* area para informacoes sobre o cartao virtual */
.virtual-card {
    grid-area: info;
    display: grid;
    grid-template-areas:
        "title"
        "infos";
    grid-template-rows: 0.3fr 0.5fr;
    background: #26262650;
    backdrop-filter: blur(3px);
    border-radius: 15px;

    /* titulo da area */
    & .card-title {
        grid-area: title;
        display: flex;
        padding: 0 5% 0 5%;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        /* botao de bloqueio de cartao */
        & button {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }

        & i {
            color: #F0EBE0;
            font-size: 1rem;
        }
    }

    /* informacoes do cartao */
    & .virtual-info {
        display: grid;
        grid-template-areas:
            "name name"
            "number number"
            "date cvc";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        padding: 0 5% 0 5%;

        & .name {
            grid-area: name;
        }

        & .number {
            grid-area: number;
        }

        & .date {
            grid-area: date;
        }

        & .cvc {
            grid-area: cvc;
        }
    }
}