/* reset padrao */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* estilos do corpo da pagina */
body {
    padding: 2%;
    display: grid;
    grid-template-areas:
        "side-bar content";
    grid-template-columns: 15% auto;
    column-gap: 2%;
    height: 100vh;
    overflow: hidden;
    background: url(/app/static/images/wave.jpg) center / cover no-repeat;
    color: #F0EBE3;
    font-family: "Poppins";

    /* diminui o tamanho da side bar em telas menores */
    @media (max-width: 768px) {
        grid-template-columns: 10% auto;
    }
}

/* estilos da side bar */
.side-bar {
    grid-area: side-bar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(130deg, #acacac30, #09090930);
    backdrop-filter: blur(3px);
    box-shadow: 0 5px 15px rgba(148, 148, 148, 0.5);
    border-radius: 15px;
    padding: 20px 0;
    height: 100%;
    overflow: hidden;

    /* logo de coruja */
    & .logo {
        & img {
            height: clamp(30px, 10vw, 80px);
            width: clamp(30px, 10vw, 80px);
            filter: drop-shadow(0 5px 5px rgb(0, 0, 0));
        }
    }

    /* area das acoes principais */
    & .options {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
    }

    /* area do botao */
    & .buttons {
        width: 100%;
        border-radius: 5px;

        /* botao em si */
        & button {
            position: relative;
            width: 100%;
            height: 2.5rem;
            border: none;
            background: transparent;
            color: #F0EBE3;
            font-size: 1rem;
            text-align: start;
            padding: 0 15px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: all 0.3s ease;

            /* simbolo do botao */
            & i {
                width: 20px;
                text-align: center;
                filter: drop-shadow(0 5px 5px rgb(0, 0, 0));
            }

            & #signal {
                position: absolute;
                left: 1px;
                height: 80%;
                width: 5px;
                border-radius: 15px;
                background-color: #F0EBE3;
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        }
    }

    /* diminui o tamanho da fonte em telas medias para caber na side bar */
    @media (max-width: 1050px) {
        & label {
            font-size: 0.7rem;
        }
    }

    /* deixa a fonte invisivel quando o espaó é muito pequeno */
    @media (max-width: 768px) {
        & label {
            font-size: 0px;
        }
    }
}

/* stilo da area principal */
.content {
    grid-area: content;
    display: grid;
    gap: 2%;
    background: linear-gradient(130deg, #2e2e2e30, #17171730);
    backdrop-filter: blur(3px);
    box-shadow: 0 5px 15px rgba(148, 148, 148, 0.5);
    border-radius: 15px;
    padding: 20px;
    color: #F0EBE3;
    font-size: 1rem;
    overflow-y: auto;
    height: 100%;
}

/* desabilita a mudanca de estilo do mouse em textos */
p,
span,
th,
td {
    cursor: default;
}

.feature {
    background: linear-gradient(130deg, #acacac30, #09090930);
    backdrop-filter: blur(3px);
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    height: 100%;
    width: 100%;
}