/* stilo da area principal */
.content {
    grid-template-areas:
        "welcome welcome"
        "balance bill"
        "options options"
        "analytics analytics"
        "history history";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    background: #2626268a;

    /* area de boas vindas */
    & .welcome {
        grid-area: welcome;
        background: linear-gradient(130deg, #acacac30, #09090930);
        backdrop-filter: blur(3px);
        box-shadow: 0 5px 10px rgb(0, 0, 0);
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;

        /* texto de boas vindas */
        & span {
            font-size: 1.5rem;
        }
    }

    /* area do saldo atual  */
    & .balance {
        grid-area: balance;
        position: relative;
        background: linear-gradient(130deg, #acacac30, #09090930);
        backdrop-filter: blur(3px);
        box-shadow: 0 5px 10px rgb(0, 0, 0);
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;

        & span {
            position: absolute;
            left: 5%;
            top: 5%;

        }

        & .current-balance {
            position: absolute;
            right: 5%;
            bottom: 5%;
        }
    }

    /* area da fatura do mes */
    & .bill {
        grid-area: bill;
        position: relative;
        background: linear-gradient(130deg, #acacac30, #09090930);
        backdrop-filter: blur(3px);
        box-shadow: 0 5px 10px rgb(0, 0, 0);
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;

        & span {
            position: absolute;
            left: 5%;
            top: 5%;
        }

        & .current-bill {
            position: absolute;
            right: 5%;
            bottom: 5%;
        }
    }

    /* area do historico de transacoes */
    & .history {
        grid-area: history;
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        position: relative;
        background: linear-gradient(130deg, #acacac30, #09090930);
        backdrop-filter: blur(3px);
        box-shadow: 0 5px 10px rgb(0, 0, 0);
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;
        overflow: hidden;


        & table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 5px 10px rgb(0, 0, 0);

            & thead {

                & th {
                    background: #1f1f1f;
                    padding: 10px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }

                & tr:first-child th:first-child {
                    border-top-left-radius: 15px;
                }

                & tr:last-child th:last-child {
                    border-top-right-radius: 15px;
                }
            }

            & tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

        }


        & tbody {
            display: block;
            max-height: 120px;
            overflow-y: auto;
            background: #2e2e2e;

            & th,
            & td {
                padding: 10px;
                text-align: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.3);
                border-radius: 50px;
            }

            & tr:last-child td {
                border-bottom: none;
            }
        }

    }

    /* opcoes de transferir, investir etc */
    & .options {
        grid-area: options;
        display: flex;
        column-gap: 2%;

        & .op {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: linear-gradient(130deg, #acacac30, #09090930);
            backdrop-filter: blur(3px);
            box-shadow: 0 5px 10px rgb(0, 0, 0);
            border-radius: 15px;
            height: 100%;
            width: 100%;
            padding: 15px;
            overflow: hidden;
        }
    }

}