/* reset padrao */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* estilos do corpo da pagina */
body {
    padding: 2%;
    display: grid;
    grid-template-areas:
        "side-bar content";
    grid-template-columns: 15% auto;
    column-gap: 2%;

    /* diminui o tamanho da side bar em telas menores */
    @media (max-width: 768px) {
        grid-template-columns: 10% auto;
    }
}

/* estilos da side bar */
.side-bar {
    grid-area: side-bar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #1717175e;
    backdrop-filter: blur(3px);
    box-shadow: 0 5px 15px rgba(148, 148, 148, 0.5);
    border-radius: 15px;
    padding: 20px 0;

    /* logo de coruja */
    & .logo {
        & img {
            height: clamp(30px, 10vw, 80px);
            width: clamp(30px, 10vw, 80px);
        }
    }

    /* area das acoes principais */
    & .options {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
    }

    /* area do botao */
    & .buttons {
        width: 100%;
        border-radius: 5px;

        /* botao em si */
        & button {
            position: relative;
            width: 100%;
            height: 2.5rem;
            border: none;
            background: transparent;
            color: #F0EBE3;
            font-size: 1rem;
            text-align: start;
            padding: 0 15px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: all 0.3s ease;

            /* simbolo do botao */
            & i {
                width: 20px;
                text-align: center;
            }

            & #signal {
                position: absolute;
                left: 1px;
                height: 80%;
                width: 5px;
                border-radius: 15px;
                background-color: #F0EBE3;
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    /* diminui o tamanho da fonte em telas medias para caber na side bar */
    @media (max-width: 1050px) {
        & label {
            font-size: 0.7rem;
        }
    }

    /* deixa a fonte invisivel quando o espaó é muito pequeno */
    @media (max-width: 768px) {
        & label {
            font-size: 0px;
        }
    }

}

/* stilo da area principal */
.content {
    grid-area: "content";
    display: grid;
    gap: 2%;
    grid-template-areas:
        "welcome welcome"
        "balance bill"
        "options options"
        "history history";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    background: #1717175e;
    backdrop-filter: blur(3px);
    box-shadow: 0 5px 15px rgba(148, 148, 148, 0.5);
    border-radius: 15px;
    padding: 20px;
    color: #F0EBE3;
    font-size: 1.5rem;

    /* area de boas vindas */
    & .welcome {
        grid-area: welcome;
        background: #26262650;
        backdrop-filter: blur(3px);
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;

        /* texto de boas vindas */
        & span {
            font-size: 1.5rem;
        }
    }

    /* area do saldo atual  */
    & .balance {
        grid-area: balance;
        position: relative;
        background: #26262650;
        backdrop-filter: blur(3px);
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;

        & span {
            position: absolute;
            left: 5%;
            top: 5%;

        }

        & .current-balance {
            position: absolute;
            right: 5%;
            bottom: 5%;
        }
    }

    /* area da fatura do mes */
    & .bill {
        grid-area: bill;
        position: relative;
        background: #26262650;
        backdrop-filter: blur(3px);
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;

        & span {
            position: absolute;
            left: 5%;
            top: 5%;
        }

        & .current-bill {
            position: absolute;
            right: 5%;
            bottom: 5%;
        }
    }

    /* area do historico de transacoes */
    & .history {
        grid-area: history;
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        position: relative;
        background: #26262650;
        backdrop-filter: blur(3px);
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;
        overflow: hidden;


        & table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 15px;
            overflow: hidden;

            & thead {

                & th {
                    background: #262626;
                    padding: 10px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }

                & tr:first-child th:first-child {
                    border-top-left-radius: 15px;
                }

                & tr:last-child th:last-child {
                    border-top-right-radius: 15px;
                }
            }

            & tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

        }


        & tbody {
            display: block;
            max-height: 120px;
            overflow-y: auto;
            background: #26262650;

            & th,
            & td {
                padding: 10px;
                text-align: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.3);
                border-radius: 50px;
            }

            & tr:last-child td {
                border-bottom: none;
            }
        }

    }

    /* opcoes de transferir, investir etc */
    & .options {
        grid-area: options;
        display: flex;
        column-gap: 2%;

        & .op {
            background: #26262650;
            backdrop-filter: blur(3px);
            border-radius: 15px;
            height: 100%;
            width: 100%;
        }
    }

}