/* estilo de todo o body da pagina */
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /* query que modifica a a pagina para vertical e horizontal */
    @media (max-width: 1224px) {
        flex-direction: column;
        justify-content: start;
        row-gap: 50px;

    }
}

/* texto de boas vindas */
.logo-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    transition: all 0.3s ease;
    padding: 20px;

    /* textos de apresentacao */
    & .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: all 0.3s ease;

        /* nome do banco */
        & span {
            font-size: 4rem;
            font-weight: 900;
            transition: all 0.3s ease;
        }

        /* pequeno slogan */
        & p {
            font-size: 1rem;
            font-style: italic;
            transition: all 0.3s ease;
        }
    }

    /* coruja */
    & .logo {
        position: relative;
        height: 250px;
        width: 200px;
        transition: all 0.3s ease;
    }

    /* media-querys para reorganizacao das informacoes do banco */
    @media (max-width: 768px) {
        flex-direction: column;

        /* nome e slogan */
        .text {
            align-items: center;

            span {
                font-size: 2.5rem;
            }

            p {
                opacity: 0;
                height: 0;
                overflow: hidden;
            }
        }

        /* coruja */
        .logo {
            height: 150px;
            width: 120px;
        }
    }
}

/* container de login */
.login-box {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    height: 500px;
    width: clamp(350px, 50vw, 600px);

    /* titulo de login */
    & #login {
        font-size: 60px;
        text-align: center;
        cursor: default;
        margin: 0;
        text-shadow: 3px 3px 10px rgb(0, 0, 0);
    }
}

/* estilo dos campos de input */
.input-container {

    /* campo de input */
    & input {
        width: clamp(300px, 40vw, 500px);
    }

    /* link de recuperacao de senha */
    & .forgot {
        position: absolute;
        top: 55px;
        right: 0px;
    }
}

/* area dos botoes de login e sign up */
.enter-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    /* texto "nao tem conta?" */
    & p {
        font-size: 11px;


        /* link de cadastro   */
        & .register {
            display: inline-block;
        }
    }
}