/*  reset padrao */
* {
    margin: none;
    padding: none;
    box-sizing: border-box
}

/*  reset do fill do autocomplete */
.input-container input:-webkit-autofill,
.input-container input:-webkit-autofill:hover,
.input-container input:-webkit-autofill:focus,
.input-container input:-webkit-autofill:active {
    -webkit-text-fill-color: #000000 !important;
    color: #F0EBE3;
    font-size: 16px !important;
    border: transparent !important;
    background-color: transparent !important
}


/* estilo de todo o body da pagina */
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background: url(/app/static/images/background.png) center / cover no-repeat;

    @media (max-width: 1224px) {
        flex-direction: column;
        justify-content: start;
        row-gap: 50px;

    }
}

/* texto de boas vindas */
.logo-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    transition: all 0.3s ease;
    padding: 20px;

    /* textos de apresentacao */
    & .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: all 0.3s ease;

        /* nome do banco */
        & span {
            font-family: "Poppins";
            color: #F0EBE3;
            font-size: 4rem;
            font-weight: 900;
            transition: all 0.3s ease;
        }

        /* pequeno slogan */
        & p {
            font-size: 1rem;
            color: #F0EBE3;
            font-family: "Poppins";
            font-style: italic;
            margin: 0;
            transition: all 0.3s ease;
        }
    }

    /* coruja */
    & .logo {
        position: relative;
        height: 250px;
        width: 200px;
        transition: all 0.3s ease;
    }

    /* media-querys para reorganizacao responsiva da tela */
    @media (max-width: 1024px) {
        .text span {
            font-size: 3.5rem;
        }
    }

    @media (max-width: 900px) {
        .text span {
            font-size: 3rem;
        }

        .logo {
            height: 200px;
            width: 160px;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .text {
            align-items: center;

            span {
                font-size: 2.5rem;
            }

            p {
                opacity: 0;
                height: 0;
                overflow: hidden;
            }
        }

        .logo {
            height: 150px;
            width: 120px;
        }
    }

    @media (max-width: 480px) {
        .text span {
            font-size: 2rem;
        }

        .logo {
            height: 120px;
            width: 100px;
        }
    }
}

/* container de login */
.login-box {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    height: 500px;
    width: clamp(350px, 50vw, 600px);
    background: linear-gradient(130deg, #4d4d4d75, #09090975);
    backdrop-filter: blur(3px);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(148, 148, 148, 0.74);
    font-family: "Poppins";

    /* titulo de login */
    & #login {
        font-size: 60px;
        text-align: center;
        cursor: default;
        margin: 0;
        color: #F0EBE3;
        text-shadow: 3px 3px 10px rgb(0, 0, 0);
    }
}

/* estilo dos campos de input */
.input-container {
    position: relative;
    margin-bottom: 30px;

    /* campo de input */
    & input {
        width: clamp(300px, 40vw, 500px);
        padding: 12px;
        font-size: 1.2rem;
        border: none;
        outline: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        background: rgba(255, 255, 255, 0.15);
        border-radius: 12px;
        color: #000000;
        font-weight: 500;
    }


    /* labels (email/ senha) */
    & label {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: #F0EBE3;
        pointer-events: none;
        font-weight: 400;
        transition: 0.3s ease;
    }

    /* faz o label se mover ao mexer com o campo de input */
    & input:focus+label,
    & input:not(:placeholder-shown)+label,
    & input:hover+label {
        top: -22px;
        left: 5px;
        transform: scale(0.9);
    }

    /* modifica o campo de input quando se esta em foco */
    & input:focus,
    & input:hover,
    & input:not(:placeholder-shown) {
        background: linear-gradient(90deg, rgba(214, 214, 214, 0.6), rgba(77, 77, 77, 0.6));
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.884);
        transform: scale(1.008);
        transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
    }

    /* link de recuperacao de senha */
    & .forgot {
        position: absolute;
        top: 55px;
        right: 0px;
        font-size: 12px;
        color: rgb(146, 146, 255);
        transition: 0.3s ease;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            transform: scale(1.02);
        }
    }

    /* mensagem de erro dos campos */
    & .error-message {
        position: absolute;
        right: 0px;
        bottom: 42px;
        color: rgb(233, 14, 14);
        font-size: 13px;
        margin: 0;
        padding: 0;
    }

    /* sombra vermelha para as areas de input erradas */
    & .invalid {
        box-shadow: 0px 3px 5px rgba(255, 0, 0, 0.747) !important;
    }
}

/* area dos botoes de login e sign up */
.enter-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    /* botao de entrar */
    .login-button {
        width: 150px;
        height: 35px;
        border-radius: 12px;
        border: none;
        background: linear-gradient(130deg, rgb(86, 110, 248), rgb(1, 1, 206));
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.336);
        font-size: 1.2rem;
        font-weight: 300;
        cursor: pointer;
        color: #F0EBE3;
        transition: all 0.25s ease-in;

        &:hover {
            background: transparent;
            border: 2px solid blue;
            box-shadow: 0 3px 10px rgb(13, 13, 250);
            transform: scale(1.1);
        }
    }

    /* texto "sem conta?" */
    & p {
        margin: 0;
        padding: 0;
        color: #F0EBE3;
        font-size: 11px;


        /* link de cadastro   */
        & .register {
            display: inline-block;
            color: rgb(146, 146, 255);
            font-size: 12px;
            transition: 0.3s ease;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                transform: scale(1.02);
            }
        }
    }
}