.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 60px;
    padding: 20px;
}

.user-profile {
    justify-items: center;
    flex: 0.5;

    & .profile-image {
        position: relative;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background: url(/app/static/images/user_default.png) center / cover no-repeat;

        & #image-selector {
            display: none;
        }

        & button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            padding: 8px;
            border-radius: 50%;
            font-size: 2rem;
            background: #F0EBE3;
            border: none;
            color: #090909;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        }
    }
}

.informations {
    display: flex;
    flex: 1;
    min-width: 45vw;
    flex-direction: column;

    & .info {
        position: relative;
        margin-bottom: 40px;

        & label {
            position: absolute;
            left: 0px;
            top: -28px;
            font-size: 1.2rem;
        }

        & input {
            padding: 12px;
            padding-right: 40px;
            font-size: 1rem;
            border: none;
            outline: none;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
            background: rgba(255, 255, 255, 0.15);
            border-radius: 12px;
            color: #F0EBE3;
            width: 100%;
            font-weight: 500;
            transition: all 0.2s ease-in;

            &::placeholder {
                color: #F0EBE3;
            }
        }

    }
}