* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    font-family: "Poppins";
    color: #f0ebe3;
    cursor: default;
}

a {
    color: #f0ebe3;
    text-decoration: none;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background: rgb(22, 22, 22);
    z-index: 5;

    & .nav-title {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;

        & .logo {
            height: 80%;
            width: 4rem;
            background: url(/app/static/images/logo.png) center / contain no-repeat;
        }

        & span {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 10px;
            animation: none;
        }
    }

    & .links {
        display: flex;
        height: 100%;
        width: clamp(150px, 20vw, 150px);
        align-items: center;
        justify-content: space-around;
    }
}

#bank-name,
span,
p,
em {
    animation: fade 1s linear forwards;
    animation-timeline: view();
}

em {
    font-weight: 800;
}

section {
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-items: center;
}

@keyframes fade {

    0%,
    100% {
        transform: scale(0);
        opacity: 0;
    }

    35%,
    65% {
        transform: scale(1);
        opacity: 1;
    }

}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;

    & #bank-name {
        text-align: center;
        font-size: clamp(5rem, 10vw, 15rem);
        font-weight: bold;
    }

    & #slogan {
        text-align: center;
        font-size: clamp(0.8rem, 2vw, 1.5rem);
        margin-bottom: 5rem;
    }
}