* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    font-family: "Poppins";
    color: #f0ebe3;
    cursor: default;
}

a {
    color: #f0ebe3;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background: rgba(44, 44, 44, 0.404);

    & .title {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;

        & .logo {
            height: 80%;
            width: 4rem;
            background: url(/app/static/images/logo.png) center / contain no-repeat;
        }

        & span {
            text-align: center;
            font-size: 2.4rem;
            font-weight: bold;
            padding: 10px;
        }
    }

    & .links {
        display: flex;
        height: 100%;
        width: clamp(150px, 20vw, 150px);
        align-items: center;
        justify-content: space-around;
    }
}