/* estilo do corpo da pagina */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* container de login */
.sign-up-box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: clamp(350px, 80vw, 900px);
    padding: 30px;

    /* texto de cadastro */
    & #sign-up {
        text-align: center;
        font-size: 2rem;
        text-shadow: 3px 3px 10px rgb(0, 0, 0);
        font-weight: 600;
        cursor: default;
    }

    /* container das colunas */
    .form-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        width: 100%;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    /* coluna individual */
    .form-col {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* estilo dos campos de input */
.input-container {

    /* campo de input */
    & input {
        width: 100%;
    }

    /* botao de ver ou ocultar senha */
    & .view-password {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
        color: rgb(146, 146, 255);
        transition: 0.3s ease;

        &:hover {
            transform: translateY(-50%) scale(1.1);
            filter: drop-shadow(0 3px 10px rgb(0, 0, 0));
        }
    }
}