/* reset padrao */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  reset do fill do autocomplete */
.input-container input:-webkit-autofill,
.input-container input:-webkit-autofill:hover,
.input-container input:-webkit-autofill:focus,
.input-container input:-webkit-autofill:active {
    -webkit-text-fill-color: #000000 !important;
    font-size: 1rem !important;
}

/* estilo do corpo da pagina */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(/app/static/images/background.png) center / cover no-repeat;
}

/* container de login */
.sign-up-box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: clamp(350px, 80vw, 900px);
    background: linear-gradient(130deg, #acacac30, #09090930);
    backdrop-filter: blur(3px);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(148, 148, 148, 0.74);
    font-family: "Poppins";
    padding: 30px;

    /* texto de cadastro */
    #sign-up {
        text-align: center;
        font-size: 2rem;
        color: #F0EBE3;
        text-shadow: 3px 3px 10px rgb(0, 0, 0);
        font-weight: 600;
        cursor: default;
        margin: 0;
    }

    /* container das colunas */
    .form-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        width: 100%;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    /* coluna individual */
    .form-col {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* estilo dos campos de input */
.input-container {
    position: relative;
    margin-bottom: 20px;

    /* campo de input */
    & input {
        width: 100%;
        padding: 12px;
        padding-right: 40px;
        font-size: 1rem;
        border: none;
        outline: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        background: rgba(255, 255, 255, 0.15);
        border-radius: 12px;
        color: #000000;
        font-weight: 500;
        transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
    }

    /* labels */
    & label {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: #F0EBE3;
        pointer-events: none;
        font-weight: 400;
        transition: 0.3s ease;
    }

    /* faz o label se mover ao mexer com o campo de input */
    & input:focus+label,
    & input:not(:placeholder-shown)+label,
    & input:hover+label,
    & input:-webkit-autofill+label {
        top: -23px;
        left: 3px;
        transform: scale(0.8);
        transform-origin: left;
        color: #F0EBE3;
    }

    /* muda o visual da area de input ao interagir com ela */
    & input:focus,
    & input:hover,
    & input:not(:placeholder-shown) {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(97, 97, 97, 0.8));
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.884);
        transform: scale(1.008);
    }

    /* botao de ver ou ocultar senha */
    & .view-password {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
        color: rgb(146, 146, 255);
        transition: 0.3s ease;

        &:hover {
            transform: translateY(-50%) scale(1.1);
            filter: drop-shadow(0 3px 10px rgb(0, 0, 0));
        }
    }

    /* mensagem de erro dos campos */
    & .input-message {
        position: absolute;
        right: 0px;
        bottom: 42px;
        color: red;
        font-size: 13px;
        margin: 0;
        padding: 0;
    }

    /* sombra vermelha para as areas de input erradas */
    & .invalid {
        box-shadow: 0px 3px 5px rgba(255, 0, 0, 0.75) !important;
    }

    /* cores para demonstrar a forca da senha */
    & .weak {
        box-shadow: 0 4px 5px yellow !important;
    }

    & .middle {
        box-shadow: 0 4px 5px greenyellow !important;
    }

    & .strong {
        box-shadow: 0 4px 5px green !important;
    }
}

/* area do botao sign up */
.create-account {

    /* botao de criar conta */
    .signup-button {
        width: 150px;
        height: 35px;
        border-radius: 12px;
        border: none;
        background: linear-gradient(130deg, rgb(86, 110, 248), rgb(1, 1, 206));
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.336);
        font-size: 1.2rem;
        font-weight: 300;
        cursor: pointer;
        color: #F0EBE3;
        transition: all 0.25s ease-in;

        &:hover {
            background: transparent;
            border: 2px solid blue;
            box-shadow: 0 3px 10px rgb(13, 13, 250);
            transform: scale(1.1);
        }
    }
}