<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/app/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <!-- div responsável pelas informacoes na side bar -->
    <div class="side-bar">

        <!-- logo de coruja -->
        <div class="logo">
            <img src="/app/static/images/logo.png">
        </div>

        <!-- area dos botoes de acoes -->
        <div class="options">

            <!-- botao da pagina inicial -->
            <div class="buttons">
                <button class="home">
                    <i id="home" class="fas fa-house"></i>
                    <label for="home">Home</label>
                </button>
            </div>

            <!-- botao de configuracoes de conta de usuario -->
            <div class="buttons">
                <button class="user-account">
                    <i id="user" class="fas fa-user"></i>
                    <label for="user">Minha conta</label>
                </button>
            </div>

            <!-- botao dos cartoes de credito -->
            <div class="buttons">
                <button class="cards">
                    <i id="cards" class="fas fa-credit-card"></i>
                    <label for="cards">Cartões</label>
                </button>
            </div>

            <!-- botao de notificacoes -->
            <div class="buttons">
                <button class="mesages">
                    <i id="mesages" class="fas fa-envelope"></i>
                    <label for="mesages">Notificações</label>
                </button>
            </div>

            <!-- botao de configuracoes -->
            <div class="buttons">
                <button class="configs">
                    <i id="config" class="fas fa-gear"></i>
                    <label for="config">Configurações</label>
                </button>
            </div>

        </div>

        <!-- botao para deslogar da conta -->
        <div class="buttons">
            <button class="log-out">
                <i id="log-out" class="fas fa-right-to-bracket"></i>
                <label for="log-out"> Deslogar</label>
            </button>
        </div>

    </div>

    <div class="content">

    </div>

</body>

</html>