<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/app/static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Area para o logo e o titulo do banco -->
    <div class="logo-title">
        <img class="logo" src="/app/static/images/logo.png">
        <p>OWL <br> INVEST</p>
    </div>

    <!-- quadro de login  -->
    <form class="login-box">
        <p id="login">Login</p>

        <div>
            <!-- area de adicionar o email -->
            <div class="input-container">
                <input type="email" id="email" name="email" placeholder=" " required>
                <label for="email">Email</label>
            </div>

            <!-- area para adicionar a senha -->
            <div class="input-container">
                <input type="password" id="password" name="password" placeholder=" " required>
                <label for="password">Senha</label>

                <!-- link de recuperação de senha -->
                <a class="forgot" href="#">Esqueci a senha</a>
            </div>
        </div>

        <!-- area de login ou sign up -->
        <div class="enter-account">
            <!-- botao de logar -->
            <button type="submit" class="login-button">Entrar</button>

            <!-- link para criar uma conta -->
            <a class="register" href="sign-up.html">Cadastre-se</a>
        </div>
    </form>
</body>

</html>