<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="/app/static/css/global-main.css">
    <link rel="stylesheet" href="/app/static/css/my-account.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- div responsável pelas informacoes na side bar -->
    <div class="side-bar">

        <!-- logo de coruja -->
        <div class="logo">
            <img src="/app/static/images/logo.png">
        </div>

        <!-- area dos botoes de acoes -->
        <div class="options">

            <!-- botao da pagina inicial -->
            <div class="buttons" onclick="window.location.href='home.html'">
                <button class="home">
                    <i id="home" class="fas fa-house"></i>
                    <label for="home">Home</label>
                </button>
            </div>

            <!-- botao de configuracoes de conta de usuario -->
            <div class="buttons">
                <button class="user-account" onclick="window.location.href='my-account.html'">
                    <label id="signal" for="user"></label>
                    <i id="user" class="fas fa-user"></i>
                    <label for="user">Minha conta</label>
                </button>
            </div>

            <!-- botao dos cartoes de credito -->
            <div class="buttons">
                <button class="cards" onclick="window.location.href='cards.html'">
                    <i id="cards" class="fas fa-credit-card"></i>
                    <label for="cards">Cartões</label>
                </button>
            </div>

            <!-- botao de notificacoes -->
            <div class="buttons">
                <button class="messages">
                    <i id="messages" class="fas fa-envelope"></i>
                    <label for="messages">Notificações</label>
                </button>
            </div>

        </div>

        <!-- botao para deslogar da conta -->
        <div class="buttons">
            <button class="log-out">
                <i id="log-out" class="fas fa-right-to-bracket"></i>
                <label for="log-out"> Deslogar</label>
            </button>
        </div>

    </div>

    <!-- Classe responsável pela organização de toda a area principal -->
    <div class="content">

        <!-- area da imagem de perfil do usuario -->
        <div class="user-profile">
            <div class="profile-image">
                <input type="file" id="image-selector" accept="image/*">

                <!-- botao de alteração de imagem -->
                <button onclick="document.getElementById('image-selector').click()">
                    <i class="fas fa-camera"></i>
                </button>
            </div>
        </div>

        <!-- informacoes da conta do usuario -->
        <div class="informations">

            <div class="info">
                <input id="name" value="jorgin" disabled>
                <label for="name">Nome:</label>
            </div>

            <div class="info">
                <input id="email" value="jrgin@gmail" disabled>
                <label for="email">Email:</label>
            </div>

            <div class="info">
                <input id="cpf" value="123123" disabled>
                <label for="cpf">CPF:</label>
            </div>

            <div class="info">
                <input id="phone" value="111111" disabled>
                <label for="phone">Telefone:</label>
            </div>

            <div class="info">
                <input id="birth-date" value="12/12/1212" disabled>
                <label for="birth-date">Data de Nascimento:</label>
            </div>

            <div class="info">
                <input id="mother-name" value="maria" disabled>
                <label for="mother-name">Nome da Mãe:</label>
            </div>

            <div class="info">
                <input id="nationality" value="brasil" disabled>
                <label for="nationality">Nacionalidade:</label>
            </div>

            <div class="info">
                <input id="cep" value="5434-34434" disabled>
                <label for="cep">CEP:</label>
            </div>
        </div>

    </div>

</body>

</html>