<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/css/presentention.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Owl Invest</title>
</head>

<body>
    <div class="navbar">

        <div class="nav-title">
            <div class="logo"></div>
            <span>OWL INVEST</span>
        </div>

        <div class="links">
            <a href="login.html">Login</a>
            <a href="sign-up.html">Sign-Up</a>
        </div>
    </div>

    <div class="content">
        <section id="title">
            <p id="bank-name">Owl Invest</p>
            <p id="slogan">Te ajudando a planejar seu <em>FUTURO</em> com <em>SABEDORIA</em></p>
        </section>

        <section id="s1">
            <p>Monitore suas finanças de maneira fácil, com a ajuda de um app intuitivo de amigável</p>
        </section>
    </div>

</body>

</html>