<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/app/static/css/global.css">
    <link rel="stylesheet" href="/app/static/css/sign-up.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- quadro de cadastro -->
    <form id="signupForm" class="sign-up-box container">
        <p id="sign-up">Cadastro</p>

        <!-- Container de colunas -->
        <div class="form-columns">
            <!-- Coluna 1 -->
            <div class="form-col">
                <!-- area de adicionar o nome -->
                <div class="input-container">
                    <input type="text" id="name" name="name" placeholder=" ">
                    <label for="name">Nome completo</label>
                    <span id="name-error" class="input-message"></span>
                </div>

                <!-- area de adicionar o nome da mae -->
                <div class="input-container">
                    <input type="text" id="mother-name" name="mother-name" placeholder=" ">
                    <label for="mother-name">Nome da mãe</label>
                    <span id="motherName-error" class="input-message"></span>
                </div>

                <!-- area de adicionar o cpf -->
                <div class="input-container">
                    <input type="text" id="cpf" name="cpf" placeholder=" ">
                    <label for="cpf">CPF</label>
                    <span id="cpf-error" class="input-message"></span>
                </div>

                <!-- area de adicionar o nacionalidade -->
                <div class="input-container">
                    <input type="text" id="nationality" name="nationality" placeholder=" ">
                    <label for="nationality">Nacionalidade</label>
                </div>

                <!-- area de adicionar o cep -->
                <div class="input-container">
                    <input type="text" id="cep" name="cep" placeholder=" ">
                    <label for="cep">CEP</label>
                    <span id="cep-error" class="input-message"></span>
                </div>
            </div>

            <!-- Coluna 2 -->
            <div class="form-col">
                <!-- area de adicionar a data de nascimento -->
                <div class="input-container">
                    <input type="text" id="birth-date" name="birth-date" placeholder=" ">
                    <label for="birth-date">Data de nascimento</label>
                    <span id="birth-error" class="input-message"></span>
                </div>

                <!-- area de adicionar o telefone -->
                <div class="input-container">
                    <input type="text" id="phone" name="phone" placeholder=" ">
                    <label for="phone">Telefone</label>
                    <span id="phone-error" class="input-message"></span>
                </div>

                <!-- area de adicionar o email -->
                <div class="input-container">
                    <input type="email" id="email" name="email" placeholder=" ">
                    <label for="email">Email</label>
                    <span id="email-error" class="input-message"></span>
                </div>

                <!-- area para adicionar a senha -->
                <div class="input-container">
                    <input type="password" id="password" name="password" placeholder=" " autocomplete="new-password">
                    <label for="password">Senha</label>
                    <span id="password-error" class="input-message"></span>

                    <!-- emoji de olho -->
                    <button type="button" class="view-password">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>

                <!-- area para confirmar senha -->
                <div class="input-container">
                    <input type="password" id="confirm-password" placeholder=" " autocomplete="new-password">
                    <label for="confirm-password">Confirmar senha</label>
                    <span id="confirmPass-error" class="input-message"></span>

                    <!-- emoji de olho -->
                    <button type="button" class="view-password">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- area de cadastro -->
        <div class="create-account">
            <!-- botao de cadastrar -->
            <button type="submit" class="signup-button enter-button">Cadastrar-se</button>
        </div>
    </form>

    <script type="module" src="/app/static/js/pages/sign-up.js"></script>
</body>

</html>